fastapi
uvicorn[standard]
python-dotenv
pydantic

streamlit

numpy
pandas
scipy
scikit-learn
joblib
pyarrow

torchvision

pillow

transformers
sentencepiece
sacremoses
nltk

mlxtend

python-multipart

matplotlib
seaborn
requests

googletrans==4.0.0rc1
google-cloud-translate
